@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

header {
  margin-bottom: 20px;
  height: 100px;
}

main {
  width: 1024px;
  height: calc(100vh - 30px);
}

h1 {
  font-weight: bold;
  text-align: center;
}

ul {
  padding: 0;
}

.col {
  &__title {
    color: #f00;
  }
}

.brd {
  &__b--2 {
    border-bottom: 2px solid #f00;
  }
}

.fn {
  &__wgt {
    &--bld {
      font-weight: bold;
      * {
        font-weight: bold;
      }
    }
  }
}

.mgn {
  &__btm {
    &--10 {
      margin-bottom: 10px;
    } 
    &--20 {
      margin-bottom: 20px;
    } 
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
